.App {
  text-align: center;
}

.header{
  margin: 30px;
  background-color: lavenderblush;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: olive
}

